
/*Adicionado para o projeto Tribus*/

 .tribus-bg{
      background: url("images/fundo.png") repeat scroll center top;
      margin-top:0;
      }
 .fav-bg{
 	  background: url("images/fundofav.png") repeat scroll center top;
      margin-top:0;
 }     
.identificacao{
	background-color: #0000ff;
	color: white;
	padding:2px;
}

.bonus {
	background-color: #0b80ea;
    margin-top:0;
    color: #f9c700;
}
.bloqueados {
	background-color: #f9c700;
    margin-top:0;
}
.footer-button-left,
.footer-button-right {
    position:absolute !important;
    margin: 0;
    top: auto;
    bottom:0.24em;
} 
 .footer-button-left{
    left: 0.4em;
 }
 .footer-button-right {
    right: 0.4em;
 }
 .tribus_cor {
    color:#880015;
 }

/* Anuncios */

a { text-decoration:none }

.star{
	 margin-left:0;
}

.avals {
	float:right; 
	margin-right:5px;
	font-color: #fff200;
	background-color:#ffd21a;
}

.atividade {
    margin-top:5px; 
    font-size:18px;
    font-weight:bold;
    color: #67d8d6;
}
.msg_c {
    margin-top:2px; 
    font-size:16px;
    color: #a6e22b;
}
.msg_ben{
    margin-top:2px; 
    font-size:14px;
}

.free{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.vip1 {
    //opacity: 1.0;
}


