
/*Adicionado para o projeto Tribus*/

 .tribus-bg{
      background: url("images/fundo.png") repeat scroll center top;
      margin-top:0;
      }
 .fav-bg{
 	  background: url("images/fundofav.png") repeat scroll center top;
      margin-top:0;
 }     
.identificacao{
	background-color: #0000ff;
	color: white;
	padding:2px;
}

.bonus {
	background-color: #0b80ea;
    margin-top:0;
    color: #f9c700;
}
.bloqueados {
	background-color: #f9c700;
    margin-top:0;
}
.footer-button-left,
.footer-button-right {
    position:absolute !important;
    margin: 0;
    top: auto;
    bottom:0.24em;
} 
 .footer-button-left{
    left: 0.4em;
 }
 .footer-button-right {
    right: 0.4em;
 }
 .tribus_cor {
    color:#880015;
 }
